<h4 style="color: black; text-decoration: underline; margin-left: 30px;">Employee past due submissions:</h4>
<div class="container-fluid">
		<div class="col-md-1">
			#
		</div>
		<div class="col-md-2">
			Employee
		</div>
		<div class="col-md-2">
			Due Date
		</div>
		<div class="col-md-2">
			Status
		</div>
		<div class="col-md-2">
			Alert Status
		</div>
		<div class="col-md-3">
			Alert
		</div>
</div>
<div class="container-fluid">
	<% @pending_submissions.each do |pending_submission| %>
		<div class="col-md-1">
			<%= pending_submission.id %>
		</div>
		<div class="col-md-2">
			<%= pending_submission.user.full_name %>
		</div>
		<div class="col-md-2">
			<%= pending_submission.start_date %>
		</div>
		<div class="col-md-2">
			<%= pending_submission.status %>
		</div>
		<div class="col-md-2 text-center">
			?
		</div>
		<div class="col-md-3">
			<%= link_to 'Send Reminder', class: 'btn btn-danger btn-sm' %>
		</div>
	<% end %>
		<div class="pagination col-md-12">
			<%= paginate @pending_submissions %>
		</div>

</div>

