<div class="col-md-2"></div>
		<div class="col-md-8">
			<%= form_for @post do |f| %>

			<div class="form-group">
				<%= f.label :additional_hours_requested, class: "control-label" %>
				<%= f.text_field :hours_requested, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.label :date, class: "control-label" %>
				<%= f.date_field :date, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= f.text_area :rationale, placeholder: 'Explanation for Overtime', rows: "5", cols: "60", class: "form-control" %>
			</div>

			<%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

			<%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>

			<% end %>
			</div>
		</div>
	</div>
