<tr>
	<td>
		<%= link_to post.id, post %>
	</td>
	<td>
		<%= post.date %>
	</td>
	<td>
		<%= post.user.full_name %>
	</td>
	<td>
		<%= post.hours_requested %>
	</td>
	<td>
		<%= truncate(post.rationale, length: 20) %>
	</td>
	<td>
		<%= status_label post.status %>
	</td>
	<td>
		<% if post.status != 'approved' %>
			<%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
		<% end %>
	</td>
	<td>
		<% if post.status != 'approved' %>
			<%= link_to 'Delete', post_path(post), data: { turbo_method: :delete }, id: "delete_post_#{post.id}_from_index" %>
		<% end %>
	</td>
</tr>