<!DOCTYPE html>
<html>
  <head>
    <title>Timetracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicons/3nails.ico' %>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="col-md-8">
          <%= render 'shared/nav' %>
          <div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
